@model EditPasswordVM

<div>
    <h1 class="input__name">Регистрация</h1>
    <form class="input__cont" method="post" asp-area="Admin" asp-controller="Users" asp-action="EditPassword" asp-route-id="@Model.Id">
        <input type="hidden" value="@Model.Id" name="Id" />
        <p>
            <label class="input__title" asp-for="Password">Пароль:</label><br />
            <input class="input" type="password" asp-for="Password" />
            <span class="validation__text" asp-validation-for="Password"></span>
        </p>
        <p>
            <label class="input__title" asp-for="RePassword">Подтвердите пароль:</label><br />
            <input class="input" type="password" asp-for="RePassword" />
            <span class="validation__text" asp-validation-for="RePassword"></span>
        </p>
        <div class="validation validation__text" asp-validation-summary="ModelOnly"></div>
        <p>
            <input class="input__btm" type="submit" value="Изменить" />
        </p>
    </form>
</div>
