@model RoleVM

<div>
    <h1 class="input__name">Добавление роли</h1>
    <form class="input__cont" method="post" asp-area="Admin" asp-controller="Role" asp-action="Add">
        <p>
            <label class="input__title" asp-for="Name">Название роли:</label><br />
            <input class="input" asp-for="Name" />
            <span class="validation__text" asp-validation-for="Name"></span>
        </p>
        <p>
            <label class="input__title" asp-for="Description">Описание:</label><br />
            <textarea class="input__textarea" asp-for="Description"></textarea>
            <span class="validation__text" asp-validation-for="Description"></span>
        </p>
        <p>
            <input class="input__btm" type="submit" value="Добавить" />
        </p>
    </form>
</div>