<div class="nav__cont">
    <a class="nav__link" asp-controller="User" asp-action="UserInfo">Моя страница</a>
    <a class="nav__link" asp-controller="Order" asp-action="UserOrders">Заказы</a>
    <a class="nav__link" asp-controller="Login" asp-action="LogOut">Выйти</a>
</div>