<div class="nav__cont">
    <a class="nav__link" asp-area="Admin" asp-controller="Order" asp-action="Index">Заказы</a>
    <a class="nav__link" asp-area="Admin" asp-controller="Users" asp-action="Index">Пользователи</a>
    <a class="nav__link" asp-area="Admin" asp-controller="Role" asp-action="Index">Роли</a>
    <a class="nav__link" asp-area="Admin" asp-controller="Product" asp-action="Index">Продукты</a>
    <a class="nav__link" asp-area="Home" asp-controller="Login" asp-action="LogOut">Выйти</a>
</div>